In [9]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

# Q1 : Scrape the details of most viewed videos on YouTube from Wikipedia:
 Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
 You need to find following details:
 A) Rank
 B) Name
 C) Artist
 D) Upload date
 E) Views

In [8]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [10]:
# getting the webpage of mentioned url
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [34]:
Rank = []

In [36]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [38]:
Name = []

In [39]:
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [40]:
Artist = []

In [41]:
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [42]:
Date = []

In [43]:
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [44]:
Views = []

In [45]:
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [46]:
# creating DataFrame for scraped data
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload date':Date,'Views':Views})
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
           
            A) Series
            B) Place
            C) Date
            D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [57]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [58]:
# getting the webpage of mentioned url
driver.get("https://www.bcci.tv/")

In [59]:
# clicking on fixtures button
button=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
driver.get(button.get_attribute("href"))
time.sleep(3)

In [63]:
# clicking on more Matches button
driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button').click()

In [64]:
# creating empty lists for scraping the data
Series = []
Place = []
Date = []
Time = []

In [65]:
# scraping series
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)

In [66]:
# scraping place
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
    Place.append(i.text.split())

In [67]:
#scraping Date
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)

In [68]:
#scraping Time
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [69]:
# creating DataFrame for scraped data
df = pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time,})
df

,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"[Barsapara, Cricket, Stadium,, Guwahati]","28 NOVEMBER, 2023",7:00 PM IST
1,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"[Wankhede, Stadium,, Mumbai]","29 NOVEMBER, 2023",1:30 PM IST
2,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"[Wankhede, Stadium,, Mumbai]","1 DECEMBER, 2023",1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"[Shaheed, Veer, Narayan, Singh, International,...","1 DECEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"[Wankhede, Stadium,, Mumbai]","3 DECEMBER, 2023",1:30 PM IST
5,AUSTRALIA TOUR OF INDIA 2023-24,"[M, Chinnaswamy, Stadium,, Bengaluru]","3 DECEMBER, 2023",7:00 PM IST
6,ENGLAND WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","6 DECEMBER, 2023",7:00 PM IST
7,ENGLAND WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","9 DECEMBER, 2023",7:00 PM IST
8,ENGLAND WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","10 DECEMBER, 2023",7:00 PM IST
9,INDIA TOUR OF SOUTH AFRICA 2023-24,"[Kingsmead,, Durban]","10 DECEMBER, 2023",9:30 PM IST
10,INDIA TOUR OF SOUTH AFRICA 2023-24,"[St, George's, Park,, Gqeberha]","12 DECEMBER, 2023",9:30 PM IST
11,ENGLAND WOMEN TOUR OF INDIA 2023-24,"[DY, Patil, Stadium,, NAVI, MUMBAI]","14 DECEMBER, 2023",9:30 AM IST
12,INDIA TOUR OF SOUTH AFRICA 2023-24,"[The, Wanderers, Stadium,, Johannesburg]","14 DECEMBER, 2023",9:30 PM IST
13,INDIA TOUR OF SOUTH AFRICA 2023-24,[Johannesburg],"17 DECEMBER, 2023",2:00 PM IST
14,INDIA TOUR OF SOUTH AFRICA 2023-24,"[St, George's, Park,, Gqeberha]","19 DECEMBER, 2023",2:00 PM IST
15,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","21 DECEMBER, 2023",9:30 AM IST
16,INDIA TOUR OF SOUTH AFRICA 2023-24,"[Boland, Park,, Paarl]","21 DECEMBER, 2023",2:00 PM IST
17,INDIA TOUR OF SOUTH AFRICA 2023-24,"[SuperSport, Park,, Centurion]","26 DECEMBER, 2023",1:30 PM IST
18,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","28 DECEMBER, 2023",2:00 PM IST
19,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","30 DECEMBER, 2023",2:00 PM IST
20,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[Wankhede, Stadium,, Mumbai]","2 JANUARY, 2024",2:00 PM IST
21,INDIA TOUR OF SOUTH AFRICA 2023-24,"[Newlands,, Cape, Town]","3 JANUARY, 2024",1:30 PM IST
22,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[DY, Patil, Stadium,, NAVI, MUMBAI]","5 JANUARY, 2024",7:00 PM IST
23,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[DY, Patil, Stadium,, NAVI, MUMBAI]","7 JANUARY, 2024",7:00 PM IST
24,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"[DY, Patil, Stadium,, NAVI, MUMBAI]","9 JANUARY, 2024",7:00 PM IST
25,AFGHANISTAN TOUR OF INDIA 2023-24,"[Punjab, Cricket, Association, IS, Bindra, Sta...","11 JANUARY, 2024",7:00 PM IST
26,AFGHANISTAN TOUR OF INDIA 2023-24,"[Holkar, Cricket, Stadium,, Indore]","14 JANUARY, 2024",7:00 PM IST
27,AFGHANISTAN TOUR OF INDIA 2023-24,"[M, Chinnaswamy, Stadium,, Bengaluru]","17 JANUARY, 2024",7:00 PM IST
28,ENGLAND TOUR OF INDIA 2023-24,"[Rajiv, Gandhi, International, Stadium,, Hyder...","25 JANUARY, 2024",9:30 AM IST
29,ENGLAND TOUR OF INDIA 2023-24,"[Dr, YS, Rajasekhara, Reddy, ACA-VDCA, Cricket...","2 FEBRUARY, 2024",9:30 AM IST
30,ENGLAND TOUR OF INDIA 2023-24,"[Saurashtra, Cricket, Association, Stadium,, R...","15 FEBRUARY, 2024",9:30 AM IST
31,ENGLAND TOUR OF INDIA 2023-24,"[JSCA, International, Stadium, Complex,, Ranchi]","23 FEBRUARY, 2024",9:30 AM IST
32,ENGLAND TOUR OF INDIA 2023-24,"[Himachal, Pradesh, Cricket, Association, Stad...","7 MARCH, 2024",9:30 AM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [6]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [7]:
# getting the webpage of mentioned url
driver.get("https://statisticstimes.com")

In [9]:
# clicking on Economy button
driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button').click()

# clicking on India
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]').click()
time.sleep(3)

# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [10]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [11]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [12]:
# scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [13]:
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [14]:
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [15]:
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [16]:
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [17]:
# creating DataFrame from the scraped data
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)-at current prices':GSDP1,'GSDP(19-20)-at current prices':GSDP2,'Share(18-19)':Share,'GDP($ Billion)':GDP_billion})
df

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"25,141","28,391",0.15%,"17,060"
62,30,Nagaland,"24,534",-,0.15%,-
63,31,Arunachal Pradesh,"22,488",-,0.13%,-
64,32,Mizoram,"20,947","24,424",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [2]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [3]:
# getting the webpage of mentioned url
driver.get("https://www.billboard.com/")

In [4]:
# clicking on option button
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [5]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [6]:
# getting urls for top 100 songs
urls = driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1"]')
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [11]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [12]:
# getting the webpage of mentioned url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [14]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [23]:
# scraping book names data
for i in driver.find_elements(By.XPATH,'//td[@class="left"][2]'):
    Book_name.append(i.text)

In [15]:
    
# scraping author names data
for i in driver.find_elements(By.XPATH,'//td[@class="left"][3]'):
    Author_name.append(i.text)

In [16]:
# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,'//td[@class="left"][4]'):
    Volumes_sold.append(i.text)

In [17]:
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,'//td[@class="left"][5]'):
    Publisher.append(i.text)

In [18]:
# scraping  data of genre
for i in driver.find_elements(By.XPATH,'//td[@class="last left"]'):
    Genre.append(i.text)

In [24]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [25]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [26]:
# getting the webpage of mentioned url
driver.get("https://www.imdb.com/list/ls095964455/")

In [27]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [30]:
# scraped data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
    
# scraped data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
    
# scraped data of Genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
# scraped data of Votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [31]:
# creating dataframe for scraped data
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,703"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,628"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,282"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"310,133"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,257"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,278"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,358"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,175"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,372"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"278,073"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [34]:
# first, connect to the webdriver
driver=webdriver.Chrome()

In [35]:
# getting the webpage of mentioned url
driver.get("https://archive.ics.uci.edu/")

In [36]:
#THIS LINK IS NOT OPEN